PORT=4000
JWT_SECRET=troque_esta_chave_por_uma_segura
DATABASE_FILE=./database/cadastro.sqlite
FRONTEND_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL= #localhost

SESSION_SECRET= secret_aqui