.container {
  min-height: 100vh;
  width: 100vw;
  background-image: url('../assets/background1.svg'), radial-gradient(circle, #55B1E6, #26119D);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: -20px;
  left: 210px;
  height: 327px;
  width: 335px;
  z-index: 100;
}

.mundoLogo {
  position: absolute;
  top: -10px;
  right: 10%;
  height: 200px;
  width: 200px;
  z-index: 1000;
}

.prancheta {
  position: absolute;
  top: 530px;
  left: 69px;
  transform: translateY(-50%);
  width: 541px;
  height: 603px;
  padding: 40px;
}

.loginBox {
  width: 350px;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
  z-index: 200px;
}

.welcomeContainer {
  background-color: #3C147966;
  border-radius: 67px;
  width: 278px;
  height: 500px;
  padding: 40px;
  backdrop-filter: blur(5px);
}

.welcomeTitle {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.categoryButton {
  background-color: transparent;
  border: 2px solid #FFC107;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.categoryButton:hover {
  background-color: #46d7f0;
  transform: translateY(-2px);
}

.categoryButton:active {
  transform: translateY(0);
  background-color: #3bc5de;
}

.continueButton {
  background-color: #FFC107;
  color: black;
  border: none;
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

.continueButton:hover {
  background-color: rgb(221, 168, 10);
  transform: translateY(-2px);
}

.continueButton:active {
  transform: translateY(0);
  background-color: rgb(221, 168, 10);
}
